@model Producto

<h2 class="mb-4">Agregar Producto</h2>

<form asp-action="Crear" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select asp-for="Categoria" class="form-select">
            <option>Electrónica</option>
            <option>Ropa</option>
            <option>Hogar</option>
            <option>Alimentos</option>
        </select>
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>